@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    background-color: rgba(248, 247, 247, 0.459);
    font-family: 'Nunito', sans-serif;
}

p {
    font-weight: 600;
}

/**************** Home Page ***********************/
.home > h2 {
    text-align: center;
    color: white;
    background-image: radial-gradient(circle, rgb(173, 124, 219), white);
}

.home {
    text-align: center;
}

/***************** Employee Portal *********************/
.employeePortal > h2 {
    text-align: center;
    color: white;
    background-image: radial-gradient(circle, rgb(173, 124, 219), white);
}
.orders {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 0;
    flex-wrap: wrap;
}

.errorMessageHolder {
    color: transparent;
}

.errorMessage, .errorMessageHolder {
    margin: 0;
}

.orderCard {
    margin: 10px;
    padding: 10px;
    border: grey solid 2px;
    border-radius: 7px;
    width: 20%;
    height: fit-content;

}

.orderCardName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orderCardName > button {
    height: fit-content;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.orderCardName > button > svg:hover {
    fill: blueviolet;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.editingModeOn > input {
    width: 150px;
}

.editingModeOn > input:focus {
    outline: none;
    border: blueviolet 2px solid;
}

.editingModeOn > button {
    margin: 0;
}

.orderCard:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12),
    0 2px 4px -1px rgba(0, 0, 0, .2);
}

.orderCard > h2 {
    text-align: center;
}

.orderCardBtn {
    margin: 3px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: blueviolet;
}

.deleteBtn {
    color: blueviolet;
}

.completeBtn {
    border: grey solid 1px;
    border-radius: 5px;
}

.completeBtn:hover {
    background-color: rgba(137, 43, 226, 0.13);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 0.4);
}

.orderCardBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.deleteBtn {
    border: none;
    background-color: transparent;
}

.deleteBtn > svg:hover {
    fill: blueviolet;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}

.orderCardTotal {
    border-top: 2px solid black;
    padding-top: 5px;
    font-weight: 800;
}

/********** Top View Buttons *************/

.viewBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    font-weight: 600;
}

.viewBtn {
    box-sizing: border-box;
    padding: 5px 16px;
    width: fit-content;
    height: fit-content;
    background-color: blueviolet;
    border: transparent solid 1px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.viewBtn:hover {
    border: grey solid 1px;
    background-color: rgba(137, 43, 226, 0.904);
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, .14),
    0  3px 3px 0px rgba(0, 0, 0, .12),
    0  1px 8px 0px rgba(0, 0, 0, .2);
}

/* Customer Portal */
.customerPortal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    min-width: 60vw;
    padding: 20px;
    flex-grow: 1;
}

.menu > h2 {
    text-align: center;
    margin: 0;
    color: white;
    background-image: radial-gradient(circle, rgb(173, 124, 219), white);
}

.menuItem-AddBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
    width: 60vw;
    border-bottom: black 2px dashed;
}

.menuItem-AddBtn > button {
    border-radius: 5px;
    height: fit-content;
}

.menuItem > p {
    margin: 0;
    margin-right: 10px;
}

.ticket {
    min-height: 80vh;
    min-width: 25vw;
    border: black 3px solid;
    background-color: rgb(235, 227, 243);
    margin: 20px;
    padding: 10px;
}

.ticketItems {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.ticketItems > button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: red;
}

.ticket > h2 {
    text-align: center;
    margin: 0;
}

.ticketTotal {
    font-weight: 800;
}

.custNameInput {
    font-weight: 600;
}

.custNameInput > input {
    margin: 10px;
    text-align: center;
}

.custNameInput > input:focus {
    outline: none;
    border: blueviolet 2px solid;
}

.ticketBottom {
    border-top: black 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.errorMessage {
    text-align: center;
    font-weight: 600;
    color: blueviolet;
    margin: 0;
}

/*********** Media Queries ****************/
@media only screen and (max-width: 600px) {
    .home {
        margin: 0 10px;
    }
    .viewBtn {
        font-size: 20px;
        text-align: center;
        border-radius: 0;
        width: 100vw;
        margin: 1px 0;
    }

    .viewBtn:first-child {
        margin-top: 0;
    }

    .viewBtns {
        flex-direction: column;
        margin: 0;
    }

    .customerPortal {
        display: block;
    }

    .menu {
        padding: 0;
        margin: 0;
    }

    .menu > h2 {
        margin-top: 10px;
    }

    .menuItem {
        width: 76vw;
    }

    .menuItem-AddBtn {
        width: 90vw;
        align-items: flex-end;
    }
    .menuItem-AddBtn > button {
        width: 40vw;
        height: 6vh;
    }

    .ticket {
        min-height: fit-content;
    }

    .orders {
        display: block;
    }

    .employeePortal > h2 {
        margin-bottom: 5px;
    }

    .orderCard {
        width: 80vw;
    }
}
/* Spinner for Loading */
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }